<!DOCTYPE html>
<html>
  <head>
    <title>Your title</title>
  </head>

  <style>
    p{
      color: red;
    }
  </style>
  <body>
    <%= yield %>
    <p>thanks for the purchase</p>
  </body>
</html>
